*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.header,
.banner {
    width: 900px;
}

/* 
 * ======================
 * Hero Section
 * ======================
*/

.hero {
    height: 100vh;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    align-self: center;
}

.header-link {
    padding: 12px;
    display: flex;
    align-items: center;
}

.header-link:hover {
    background-color: #2d3f58;
}

.header-link,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.hero-button {
    background-color: #3882F6;
    font-size: 24px;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 15px;
    border: none;
}

.hero-button:hover {
    cursor: pointer;
    background-color: #2454a2;
}

.banner-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.banner-image {
    flex-shrink: 0;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

/* 
 * ======================
 * About Section
 * ======================
*/




/* 
 * ======================
 * Testimonial Section
 * ======================
*/



/* 
 * ======================
 * Contact Us Section
 * ======================
*/



/* 
 * ======================
 * Footer Section
 * ======================
*/