*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, sans-serif, "Times New Roman";
    padding: 0;
    margin: 0;
}

body {
    background-color:#101828;
    color: #d1d5db;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header {
    background-color: #1e2939;
    padding: 20px;
    margin: 0;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
}

.change-size-btn {
    padding: 8px 16px;
}

.change-size-btn:hover {
    cursor: pointer;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.grid-container div {
    flex: none;
    border: 0.1px solid #d1d5db;
}
