*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, sans-serif, "Times New Roman";
    padding: 0;
    margin: 0;
}

body {
    background-color:#101828;
    color: #d1d5db;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header {
    background-color: #1e2939;
    padding: 20px;
    margin: 0;
    align-self: stretch;
}

.score-container {
    margin-top: 100px;
    display: flex;
    gap: 25px
}

.score-box {
    border: 1px solid white;
    border-radius: 15px;
    padding: 16px;
    width: 100px;
    text-align: center;

}

.player-score,
.computer-score {
    font-size: 32px;
}

.btn-container {
    margin-top: 50px;
    display: flex;
    gap: 25px
}

.rock-btn,
.paper-btn,
.scissors-btn {
    background-color: #00786f;
    border: 1px solid #00786f;
    color: #d1d5db;
    border-radius: 10px;
    padding: 8px 16px;
    width: 100px;
}

button:hover {
    background-color: #01998f;
    cursor: pointer;
}

button:disabled {
    border: 1px solid #d1d5db;
    background-color: transparent;
    color: #d1d5db;
    cursor: auto;
}


.game-result-text {
    margin-top: 30px;
    margin-bottom: 20px;
}